#NovoUsuario {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  padding: 10px;
  width: 400px;

  background: white;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Sombra */
  backdrop-filter: blur(10px); /* Desfoque */
  -webkit-backdrop-filter: blur(
    10px
  ); /* Desfoque para navegadores Webkit (Safari, Chrome, etc.) */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Borda */
}

#form_novo_usuario {
  width: 100%;
  margin-top: 10px;
}

#form_novo_usuario > label {
  display: flex;
  flex-direction: column;
}

#form_novo_usuario > label > input , #form_novo_usuario > label > select {
  padding: 5px;
  border-radius: 5px;
  border: solid black 1px;
}

.area_buttons_new_user {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.area_buttons_new_user button {
  width: 45%;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
